<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fteplus.transport.mapper.DetailBillMapper" >
  <resultMap id="BaseResultMap" type="com.fteplus.transport.entity.DetailBill" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="bill_num" property="billNum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="write_time" property="writeTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, bill_num, status, write_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from detail_bill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from detail_bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fteplus.transport.entity.DetailBill" >
    insert into detail_bill (id, type, bill_num, 
      status, write_time)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{billNum,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{writeTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fteplus.transport.entity.DetailBill" >
    insert into detail_bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="billNum != null" >
        bill_num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="writeTime != null" >
        write_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="billNum != null" >
        #{billNum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="writeTime != null" >
        #{writeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fteplus.transport.entity.DetailBill" >
    update detail_bill
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="billNum != null" >
        bill_num = #{billNum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="writeTime != null" >
        write_time = #{writeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fteplus.transport.entity.DetailBill" >
    update detail_bill
    set type = #{type,jdbcType=VARCHAR},
      bill_num = #{billNum,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      write_time = #{writeTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>