<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fteplus.transport.mapper.DriverReceiptMapper" >
  <resultMap id="BaseResultMap" type="com.fteplus.transport.entity.DriverReceipt" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="contract_num" property="contractNum" jdbcType="INTEGER" />
    <result column="driver_name" property="driverName" jdbcType="VARCHAR" />
    <result column="accepter" property="accepter" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, contract_num, driver_name, accepter, check_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from driver_receipt
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from driver_receipt
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fteplus.transport.entity.DriverReceipt" >
    insert into driver_receipt (id, contract_num, driver_name, 
      accepter, check_time, status
      )
    values (#{id,jdbcType=INTEGER}, #{contractNum,jdbcType=INTEGER}, #{driverName,jdbcType=VARCHAR}, 
      #{accepter,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fteplus.transport.entity.DriverReceipt" >
    insert into driver_receipt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contractNum != null" >
        contract_num,
      </if>
      <if test="driverName != null" >
        driver_name,
      </if>
      <if test="accepter != null" >
        accepter,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contractNum != null" >
        #{contractNum,jdbcType=INTEGER},
      </if>
      <if test="driverName != null" >
        #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="accepter != null" >
        #{accepter,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fteplus.transport.entity.DriverReceipt" >
    update driver_receipt
    <set >
      <if test="contractNum != null" >
        contract_num = #{contractNum,jdbcType=INTEGER},
      </if>
      <if test="driverName != null" >
        driver_name = #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="accepter != null" >
        accepter = #{accepter,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fteplus.transport.entity.DriverReceipt" >
    update driver_receipt
    set contract_num = #{contractNum,jdbcType=INTEGER},
      driver_name = #{driverName,jdbcType=VARCHAR},
      accepter = #{accepter,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>